<section class="panel">
    <header class="panel-heading">
      Add New Lecturer
    </header>
      
    <div class="panel-body table-responsive">




      <%= form_for(@dentist) do |f| %>
        <% if @dentist.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@dentist.errors.count, "error") %> prohibited this dentist from being saved:</h2>

            <ul>
            <% @dentist.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :phone_no %><br>
          <%= f.text_field :phone_no, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :registered_dental_no %><br>
          <%= f.text_field :registered_dental_no, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :isActive %><br>
          <%= f.check_box :isActive, class: 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

</div>
</section>
