<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dentist.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dentist.email %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @dentist.phone_no %>
</p>

<p>
  <strong>Registered dental no:</strong>
  <%= @dentist.registered_dental_no %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @dentist.isActive %>
</p>

<%= link_to 'Edit', edit_dentist_path(@dentist) %> |
<%= link_to 'Back', dentists_path %>
